
/* Modal margins 0 on mobile for more screen space */
$modal-content-margin-mobile: 0

/* Custom primary color */
$main: hsl(245, 100%, 96%)
$main-invert: hsl(0, 0%, 29%) 

$primary: $main
$primary-invert: $main-invert

html 
  background: $primary

/* screen reader only class */
.sr-only
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0, 0, 0, 0)
  border: 0

/* Room card rules */

$card-background-color: white

#cardList
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.card
  min-width: 250px !important
  
.card-header
  background-color: hsl(0, 0%, 96%)
  
/* Notification div rules */
div.not-div
  position: fixed
  display: none
  left: 50%
  top: 95%
  transform: translate(-50%, -95%)
  z-index: 3000

  p 
    margin-top: 10px
    
  #infoIconSucc, #infoIconErr, #infoIconMsg 
    position: absolute
    top: 3px
    right: 3px

/* Notification colors */
div#notSuccDiv
  background-color: hsl(141, 71%, 48%)
  color: #ffffff

div#notErrDiv
  background-color: hsl(348, 100%, 61%)
  color: #ffffff

div#notInfoDiv
  background-color: hsl(204, 86%, 53%)
  color: #ffffff

/* Responsive hero bg image, different size depening on window size */
.has-bg-img
  background: url("../img/hero-img-lg.jpg")
  background-size: cover

@media only screen and (max-width: 1215px)
  .has-bg-img
    background: url("../img/hero-img-md.jpg")

@media only screen and (max-width: 768px) 
  .has-bg-img
    background: url("../img/hero-img-sm.jpg") 

  


  

